name: CodeQL Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Agenda o job automático
  schedule:
    # Minuto (0) | Hora (0) | Dia (* - todos os dias) | Mês (* - todos os meses) | Dia da Semana (1 - segunda-feira)
    - cron: '0 0 * * 1'

jobs:
  analyse:
    name: Analisar segurança com CodeQL
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ "java" ]

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Inicializar CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          queries: security-extended,security-and-quality

      - name: Compilar o projeto
        run: mvn compile -DskipTests

      - name: Executar análise de CodeQL
        uses: github/codeql-action/analyse@v3
        with:
          category: "/language:${{ matrix.language }}"